rignore==0.7.6
sentry-sdk==2.60.0
shellingham==1.5.4
starlette==1.1.0
typer==0.26.2
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.7.0
uvicorn==0.48.0
watchfiles==1.2.0
websockets==16.0